*{margin: 0;
	padding: 0;
	box-sizing: border-box;
font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"}
	
	body{
		height: 100vh;
	}
	
	header{
		height: 10vh; /* 10% del vh*/
		
		
	}
	.fa {
		font-size: 30px;
		display: inline-block;
		margin: 10px 30px
	}
	
	.fa{
		float: right
	}
	
	
	aside {
		height: 15vh;
		overflow: scroll;
		scrollbar-width:none
	}
	
	#slider{
		height: 10vh;
		width: 300vw
	
	}
	.bola{
		width: 10vh;
		height: 10vh;
		border-radius: 50%;
		background-color: #fff;
		border: 1px solid #666;
		margin: 0 5px;
		display: inline-block;
		overflow: hidden
	}
li {
	display:  inline-block
}

p {text-align: center}
img {
	width: 10vh
}
	main {
	
		height: 65vh;
		background-color: aquamarine;
		overflow: auto
	
	}
	main::-webkit-scrollbar,aside::-webkit-scrollbar{
		display: none
	}

	footer{
		height: 10vh
		
	}