@media screen and (min-width: 769px){
	body{
		background-color: lightblue;
	}
	#main li{
		width: 25%;
		float: left;
	}
	#aside li{
		width: 100%;
	}
	#header h1 {
	width: 100%;
	float: left;
	text-align: center;
	/* padding-left: 19px; */
}
	#header{	
		/*z-index: 5;
		position: fixed;
		top: 0;
		left: 0;*/
		background-color: transparent;
		width: 100%;/*todos los objetos por defecto que trabajan en bloque ocupan el 100% no te hace falta especificarlo, siempre que tengan posición estática y no lo hayamos cambiado a fixed, que entonces si que haría falta especificarlo*/
		/*height: 400px;*/
		/*background-color: pink;*/
	}
	#menu{
		overflow: hidden;
		text-align: center;
		width: 70%;
		margin: 0 auto;
		height: 400px;
		position: relative;
		left: 0;
		top: 0;

	}
	#menu > li{
		width: 16.666%;
		float: left;
	}
	#menu li .sub{
		display: none;
		width: 18%;
		position: absolute;
		/*left: 0;*//*para que su punto de referencia sea el menu completo, no solo el li que lo contiene*/
		/*top: 100px;
		z-index: 5;*/
		overflow: hidden;
	}
	#menu li .sub li{
		/*float: left;*//*si le ongo esto, en vez de en bloque hacia abajo se verá en línea en orden de lectura*/
		/*display: block;*/
		/*width: 20%;
		float: left;*/
		/*width: 100%;*/
	}
	#menu li:hover > .sub{/*esto es lo que despliega el submenú al pasar por encima de algunas etiquetas del menú principal*/
		display: block;
		/*position: absolute;*/
		/*top: 40px;
		left: 0;
		width: 100%;
		z-index: 5;*/
	}
	
	input, #burguer{
		display: none
	}
	#main{
		width: 70%;
		float: left;
		overflow: hidden;
		margin-top: 100px;
	}
	#aside{	
		width: 30%;
		float: left;
		overflow: hidden;
		margin-top: 100px;
	}
	#footer{
		height: 100px;
		clear: both;
	}
}