.bloque1 {
    width: 50%;
    overflow: hidden;
    text-align: center;
    border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
    padding-bottom: 50px;
    display: inline-block;
    margin: -1px;
  
}
.titulo {
    text-align: center;
}
h6 {
    font-weight: 200;
    font-size: 1em;
    margin-top: -22px;
}
.Bici {
    width: 80%;
}
.botones a {
    text-decoration: none;
    color: black;
    padding: 10px 24px;
    border: 1px solid;
    font-size: 1em;
    margin: 10px;
}.botones {
    margin-top: 30px;
}
.botones {
    margin-top: 30px;
}

.bola {
    width: 30px;
    height: 30px;
   
    border-radius: 50%;
    list-style: none;
 margin: 10px 10px 0 0;
}
   

.bolas1 {
    float: right;
}

.yelo{
    background-color: yellow;

}
.black{
    background-color: black;

}
.red {
    background-color: red;

}
.blue{
    background-color: blue;

}
.titulo {
    margin-bottom: 18px;
    text-align: center;
    font-size: 30px 
}

h1 {

    padding: 30px;
    margin-left: 100px;
    font-size: 2em;
    font-weight: 400;

}

.bloque1:hover{
    background-color: whitesmoke;}

