 @media screen and  (max-width: 480px) {

.botonesder {
    width: 144px;}
h1 {
    padding: 20px;
    margin-left: 0;
    font-size: 1.5em;
    text-align: center;
}
.bloque1 {
    width: 100%;
margin: 0;
padding-bottom: 7px;}

    .bola {
    width: 15px;
    height: 15px;
    margin: 7px 10px 0 0;
}

.botones a{
    display: block
}
.Bici {
    width: 65%;
}

.titulo{
    font-size:22px;
}

}