@media screen and  (max-width: 480px)  {

  #mini{
        top: 70px;
    right: 10px;
    display: inline-block;
    width: 50px;
  }
  .texto{
    padding: 10px 20px;
  }
  .h61{display: none}
  h1{font-size: 25px}

#f1 {
    width: 90%;
    top: 44px;
  }
}
