@media screen and (min-width:481px){
	body{
		background-color: yellow
	}
		
header{
	height: 100px
		
}
main{
	height: 300px
}
li{
	width:50%;
	float:left
}

section{
width: 100%;
overflow: hidden /*porque las etiquetas de dentro del aside estarán flotadas*/}

.bloque{ 
width: 50%; /*aquí pondremos según las columnas que queremos, 50% para 2 columnas, 25% para 4 columnas…*/
height: 30px;  /*para que todos los bloques tengan la misma medida*/
float: left;
background-color: #AAA; /*si el bloque tuviera un color para separarlo del bloque siguiente no se podría poner margin porque se desborda, se tendría que bajar el porcentaje del width*/
border: 2px solid yellow /*esto se podría poner para ver visualmente una separación entre bloques aunque no la haya*/}

.bloquegrande{ /*esto es para centrar*/
width: 70%;
margin: 0 auto}

footer{
	height: 100px;
clear: both
}

}